@use "~bootstrap/scss/bootstrap" as *;

main {
    background-color: rgb(0, 3, 42);
}
.card.singleMovie {
    height: 250px;
    border: 1px solid red;
    background-color: rgb(60, 51, 139);

    span {
        color: rgb(86, 115, 133);
    }
    ul {
        list-style-type: none;
        padding-left: 0;
        li {
            font-size: 16px;
        }
    }
    li > span {
        color: goldenrod;
    }


}
